name: Create Release
on:
  workflow_dispatch:
    # No configuration, but allows manual triggering
  push:
    tags:
      - "v*.*.*" # Trigger on version tags like v1.0.0

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build devcontainer image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/theunrepentantgeek/task-graph-devcontainer
          cacheFrom: ghcr.io/theunrepentantgeek/task-graph-devcontainer
          push: never

      - name: Run task ci in devcontainer
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/theunrepentantgeek/task-graph-devcontainer
          push: never
          runCmd: task ci

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/task-graph/*
          file_glob: true
          asset_name: task-graph
          tag: ${{ github.ref }}
          overwrite: true
          body: "Release of task-graph version ${{ github.ref }}."
